body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {

    display: flex;
    align-items: center;
    gap: 10px;
}

.completed {
    text-decoration: line-through black;
    color: grey;
}

button {
    margin-left: 10px;
}